.nav {
  padding: 0 5%;
}
#sidenav-overlay {
  z-index: 996;
}
.brand-logo {
  font-weight: 100;
  letter-spacing: 0.03em
}
div.valign-wrapper {
  height: 10em;
  position: relative;
}
div.valign-wrapper h2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.footer-copyright {
  background-color: #212121 !important
}
@media only screen and (max-width: 992px) {
  .nav {
    padding: 0
  }
}

@media only screen and (max-width: 500px) {
  .nav {
    padding: 0
  }
  .brand-logo {
    font-size: 1.75em !important
  }
}