.nav {
  padding: 0 5%;
}
#sidenav-overlay {
  z-index: 996;
}
.brand-logo {
  font-weight: 100;
  letter-spacing: 0.03em
}
ul .nav {
  height: 64px;
}
.table-of-contents {
  padding: 0;
  margin-top: -4px
}
.table-of-contents a.active {
  border-left: 2px solid #E5E5E5 !important;
}
li a:hover {
  border-left: 1px solid #7f7f7f !important;
}
div.valign-wrapper {
  height: 10em;
  position: relative;
}
div.valign-wrapper h2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#skills {
  background-color: #E5E5E5;
}
.skill-card {
  max-width: 250px;
}
.ide-img {
  height: 350px;
}
#portfolio {
  background-color: #E5E5E5;
}
.footer-copyright {
  background-color: #212121 !important
}
#resume-link {
  color: #000 !important;
  font-weight: bold;
}
@media only screen and (max-width: 992px) {
  .nav {
    padding: 0;
  }
}

@media only screen and (max-width: 500px) {
  .nav {
    padding: 0;
  }
  .brand-logo {
    font-size: 1.75em !important;
  }
}